<html>

<head>
    <title>{% block title %} BCCA Record Keeper {% endblock %} </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="static/lavish.css" rel="stylesheet" type="text/css">
    <link href="static/style.css" rel="stylesheet" type="text/css">

</head>


<body>
    <div class="jumbotron">
        <h1>Python Record Keeper</h1>
    </div>


    {% block body %} {% endblock %}
</body>

</html>